<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>

<body>
  <div class="banner" style="background-image: url('https://images.pexels.com/photos/2796105/pexels-photo-2796105.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
    <div class="banner-title">
      <h1>Generic Cocktail Generator</h1>
      <div class="banner-button">
        <a class="btn" href="<%= new_cocktail_path(@cocktail) %>" role="button">Add a cocktail</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail|  %>

        <% if cocktail.photo %>
          <% background_url = cl_image_path cocktail.photo.key, width: 200, height: 250, crop: :fill %>
        <% else %>
          <% background_url = 'https://source.unsplash.com/500x400/?cocktail' %>
        <% end %>

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= background_url %>');">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
            <% link_to cocktail_path(cocktail), method: :delete, data: { confirm: 'Sure?'} do  %>
              <i class="far fa-trash-alt fa-xs" style="padding: 4px; color: lightblue"></i>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="footer"></div>
</body>
