<div class="navbar-lewagon">
  <div class="nav_link">
    <%= link_to "Back to list", cocktails_path %>
  </div>
</div>

<div class="header">
  <h2>Add a new cocktail in the form below:</h2>
</div>

<div class="card-container">
  <%= render 'form', cocktail: @cocktail %>
</div>

