// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.header {
  text-align: center;

  h2 {
  font-weight: bolder;
  font-family: 'Permanent Marker', cursive;
  color: yellow;
  }
}

body {
  background-color: black;
}

.banner {
  background-color: black;
  background-size: cover;
  background-position: center;
  height: 500px;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    color: yellow;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
  }

  .banner-button {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    margin-top: 0px;
  }

  .btn {
    background-color: darkgrey;
    color: black;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 100px;
  width: 30%;
  text-align: center;
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  background-color: white;
  font-style: italic;
  border-radius: 5px;
  font-family: 'Permanent Marker', cursive;

  a {
    color: black;
  }
}

.card-container {
  display: flex;
  justify-content: center;

  .card-show {
    height: auto;
    width: 50%;
    text-align: center;
    margin: 5px 5px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid lightgrey;
    font-style: italic;
    border-radius: 5px;
    font-family: 'Permanent Marker', cursive;
  }
}

.footer {
  text-align: center;

  a {
    background-color: red;
    color: white;
    border-radius: 5px;
  }
}

.form-inputs {
  font-family: 'Permanent Marker', cursive;
  color: white;
}

.form-actions {
  font-family: 'Permanent Marker', cursive;
  color: white;
}

.header-form h2 {
  font-family: 'Permanent Marker', cursive;
  color: yellow;
  text-align: center;
  font-size: 25px;
}
